* {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
}

html, body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  user-select: none;
}


/********************/
/*     Controls     */
/********************/

.controls {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-items: stretch;
  justify-content: center;
  background-color: rgba(0,0,0,0.7);
}

.control-group {
  width: 100%;
  padding: 10px;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: thin solid black;
  border-collapse: collapse;
}

#menuToggle:hover, input:hover, button:hover {
  cursor: pointer;
}

#menuToggle.collapsed::after {
  position: fixed;
  right: 5px;
  top: 0;
  height: 2rem;
  content: '...';
  font-size: 1.5rem;
  font-weight: bold;
}

#menuToggle.expanded::after {
  position: fixed;
  right: 8px;
  top: 12px;
  height: 2rem;
  content: '\2716';
  font-weight: normal;
}

#menuToggle.collapsed ~ .control-group:not(:first-child) {
  display: none;
}

#menuToggle.expanded ~ .control-group:not(:first-child) {
  display: flex;
}

.input-elements {
  flex-direction: column;
  flex: 0;
  text-align: center;
}

.input[type="range"] {
  box-shadow: inset 1px 1px 3px black;
}

.input-with-label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0.5rem 0;
}

label {
  margin-right: 0.25rem;
}

button {
  background-color: rgb(126, 212, 118);
  color: black;
  border-style: none;
  height: 1.5rem;
  margin-top: 5px;
  padding: 5px;
  min-width: 6rem;
  border-radius: 5px;
}

button:hover {
  background-color: rgb(140, 175, 240);
}

/**********************************/
/*     Container and Caustics     */
/**********************************/

.background-container {
  width: 100vw;
  height: 100vh;
  background-color: hsla(180, 57%, 32%);
  opacity: 1;
  filter: brightness(2) contrast(3);
}

.caustic-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  top: 0;
  left: 0;
  filter: blur(12px);
}

.caustic {
  position: absolute;
  border-radius: 35%;
  border-width: 4px;
  border-style: solid;
  border-color: hsl(240, 100%, 85%);
  animation-name: rotateAndJitter;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.interactive-caustic {
  z-index: 1000;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 8px solid hsla(180, 100%, 100%, 0.45);
  opacity: 0;
}


/**********************/
/*     Animations     */
/**********************/

.animating-ripple {
  animation-name: ripple;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: 1s;
}

@keyframes rotateAndJitter {
  0% {
    transform: rotate(0deg) translateX(0px);
  }
  50% {
    transform: rotate(180deg) translateX(20px);
  }
  100% {
    transform: rotate(360deg) translateX(0px);
  }
}

@keyframes ripple {
  0% {
    opacity: 1;
    transform: scale(0.1);
  }
  100% {
    opacity: 0;
    transform: scale(3);
  }
}